<div class="table-responsive">
  <h2>See Who's Drinkin' What?</h2>

<%# link_to "Drinks from Starbucks", drinks_path(brand: "Starbucks") %>

<!-- By default all forms make a post request to the specified route -->
<!-- <br><br>
<%# form_tag "/search" do %>
  <div class="field">
    <%# label_tag :name %><br>
    <%# text_field_tag :name %>
  </div>
  <div class="actions">
    <%# submit_tag "Search" %>
  </div>
<%# end %>
<br><br> -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="5">Coffee, coffee, coffee!</th>
      </tr>
    </thead>

    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td><span class="glyphicon glyphicon-heart"></span> <%= User.find(drink.user_id).first_name %> had a <span style="color: turquoise; font-weight: bold;"><%= drink.name.upcase %></span> from <%= drink.brand %> on <%= drink.created_at.strftime("%x") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to new_drink_path, class: 'btn btn-info' do %>
<i class="glyphicon glyphicon-plus"> <span class="btn-white-text">DRINK</span></i>
<% end %>
</div><!-- /.table-responsive -->