<!-- <p id="notice"><%= notice %></p> -->

<!-- <div class="col-md-6 col-md-offset-3">
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%# link_to 'Home', drinks_path %></li>
  <li><%# link_to 'Add drink', new_drink_path %></li>
  <li><%# link_to 'Profile', current_user %></li>
</ul>

 -->
<h1>Who's Drinkin' What?</h1>

<%# link_to "Drinks from Starbucks", drinks_path(brand: "Starbucks") %>

<!-- By default all forms make a post request to the specified route -->
<!-- <br><br>
<%# form_tag "/search" do %>
  <div class="field">
    <%# label_tag :name %><br>
    <%# text_field_tag :name %>
  </div>
  <div class="actions">
    <%# submit_tag "Search" %>
  </div>
<%# end %>
<br><br> -->

<table class="table-bordered table-striped table-responsive table-condensed">
  <thead>
    <tr>
      <th colspan="5">Coffee, coffee, coffee!</th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><span class="glyphicon glyphicon-heart"></span> <%= User.find(drink.user_id).first_name %> had a(n) <span style="color: turquoise; font-weight: bold;"><%= drink.name.upcase %></span> from <%= drink.brand %> on <%= drink.created_at.strftime("%x") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>[Drink should be deleted when user is deleted]</p>
<br>

<%= link_to 'New Drink', new_drink_path %>