<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Drinks</h1>

<%= link_to "Drinks from Starbucks", drinks_path(brand: "Starbucks") %>

<!-- By default all forms make a post request to the specified route -->
<br><br>
<%= form_tag "/search" do %>
  <div class="field">
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cups</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.cups %></td>
        <td><%= drink.brand %></td>
        <td><%= link_to 'Show', drink %></td>
        <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
        <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink', new_drink_path %>
