<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Home', pages_home_path %></li>
  <li class="active"><%= link_to 'Add drink', new_drink_path %></li>
  <li><%= link_to 'Profile', current_user %></li>
</ul>

<div class="tab-content">
<div class="col-md-6">
  <h1>New Drink</h1>
  <%= render 'form' %>
  <%= link_to 'Back', pages_home_path %>
</div>
<div class="col-md-6">
  <!-- <img src="https://img1.etsystatic.com/065/0/8735531/il_570xN.794046585_t2q1.jpg" width="100%"> -->
  <!-- <img src="http://i.huffpost.com/gen/2035048/images/o-COFFEE-facebook.jpg" width="100%"> -->
  <%= image_tag "benefits_of_coffee.jpg", width: "100%" %>
</div>
</div>
<hr />

