<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Home', home_path %></li>
  <li class="active"><%= link_to 'Add drink', new_drink_path %></li>
  <li><%= link_to 'Profile', current_user %></li>
</ul>

<div class="tab-content">
<div class="col-md-6">
  <h1>New Drink</h1>
  <%= render 'form' %>
  <%= link_to 'Back', home_path %>
</div>
<div class="col-md-6">
  <%= image_tag "benefits_of_coffee.jpg", width: "100%" %>
</div>
</div>
<hr />

