<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Cups:</strong>
  <%= @drink.cups %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @drink.brand %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', home_path %>
