<h1>User Profile</h1>
<h2>Hello, <%= current_user.first_name %>!</h2>
<% current_user.drinks.each do |drink| %>
  <%= drink.name %>
  <%= drink.brand %>
  <%= drink.cups %>
<% end %><br />
<%= link_to "Add Drink", new_drink_path %>