<!DOCTYPE html>
<html>
<head>
  <title>icoffee</title>
 <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= render 'shared/navigation' %>


  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div id="main-container" class="container">
    <div class="jumbotron">
      <h1>i<span class="pink">C</span>offee</h1>
      <p>Count your cups!</p>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
    </div>

    <div class="row">
      <!-- sidebar content -->
      <div id="sidebar" class="col-md-3 col-md-push-9">
        <h1>About iCoffee</h1>
        <p>If you're anything like me, our mornings haven't begun until the that first cup of coffee. I drink coffee almost, if not almost always, everyday and I'm PROUD OF IT! To prove it to the rest of the world, I've created this simple coffee app to track all the delicious coffee I've consumed on a daily basis. At the end of the month, I can brag about all the deliciousness I've consumed!</p>
        <p>Do you love coffee as much as I do? If so, create an iCoffee account today to get started!</p>
      </div><!-- /#sidebar -->

      <!-- main content -->
      <div id="content" class="col-md-9 col-md-pull-3">
        <%= yield %>
      </div><!-- /#content -->
    </div>

    <div class="row">
      <div class="col-md-12">
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Settings", edit_user_path(current_user) %> |
      <%= link_to "Account", edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
<!--       <%# else %>
      <%# link_to "Sign up", new_user_registration_path %> |
      <%# link_to "Login", new_user_session_path %> | -->
      <% end %>
      </div>
    </div>
  </div>

</body>
</html>
